[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/glew-cmake"]
	path = lib/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/vk-bootstrap"]
	path = lib/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "lib/vulkan-malloc"]
	path = lib/vulkan-malloc
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
